<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.sofytek.hello"
    version   = "1.0.0">

<name>Hello PhoneGap App</name>

<description>
  A "hello world" PhoneGap Build application using jQuery Mobile.
	version 1.0.0
</description>

<author href="https://github.com/cesarbasurto7/" email="cesarbasurto7@gmail.com">
	Cesar BAsurto
</author>

<preference name="phonegap-version" value="2.9.0" />
<preference name="orientation" value="default" /> <!-- both landscape and portrait enabled -->

<!--icon src="icon.png" /-->

<!--gap:splash src="splash.png"-->

<!-- features -->
<!--feature name="http://api.phonegap.com/1.0/device" /-->
<feature name="http://api.phonegap.com/1.0/geolocation"/>

</widget>
